.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desc {
  font-size: small;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.light {
  font-weight: lighter;
}

.label {
  font-weight: bolder;
  padding: 5px;
}
/* Create three unequal columns that floats next to each other */
 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-bottom: 1%;
}

.footer {
  text-align: center;
  padding: 10px;
}


.name {
  display:flex;
  flex-direction: column;
}
.column.input {

  width: 90%;
  margin: 0px;
  font-family: Helvetica, sans-serif;
}
  
  /* Middle column */

.text-input {
  width: 100%;
  padding: 8px;
  margin: 0px;
  border: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-family: Helvetica, sans-serif;
}

.text-input:focus {
  outline: none;
}

.submitSuccess {
  color: royalblue;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.body{
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
  padding-left: 30%;
  padding-right: 30%;
  /* align-items: center; */
}
.error {
  color: #0064a4;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.box {
  display: inline-block;
  padding: 50px;
  border: 5px solid #ffd200;
  border-radius: 10px;
  box-shadow: 0 0 10px 8px #0064a4;
  background-color: aliceblue;

 
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  border: 0px solid #eee;
  background-color: #1b3d6d;
  color: white;
 
}

.submitButton{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.button:focus {
  outline: none;
}

.button:hover {
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  border: 0px solid #eee;
  background-color: #ffd200;
  color: white;
}

@media only screen and (max-width: 600px) {
  .body{
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 600px) {
  .body{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
  }
}

/* @media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .body{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
  }
} */